@model LamondLu.EmailX.Domain.Models.PagedResult<LamondLu.EmailX.Domain.ViewModels.EmailListViewModel>

<p class="alert alert-success">
Current Connector: @ViewData["EmailConnectorName"] (@ViewData["EmailConnectorAddress"])
</p>
 
<table class="table">
  <thead>
    <tr>
      <th class="col-1">#</th>
      <th class="col-3">From</th>
        <th class="col-5">Subject</th>
      <th class="col-2">Date</th>
      <th class="col-1">Action</th>
    </tr>
  </thead>
  <tbody>
  @foreach (var item in Model.Data)
  {
    <tr>
      <th scope="row">@item.Id</th>
       <td>@item.Sender</td>
      <td>
      @if(item.IsRead)
      {
        @item.Subject
      }
      else
      {
        <b>@item.Subject</b>
      }
    
      </td>
     
      <td>@item.ReceivedDate.ToString("yyyy-MM-dd")</td>
      <td>
      <i class="bi bi-arrow-right-square"></i>
        <i class="bi bi-reply"></i>
        <i class="bi bi-reply-all"></i>
      </td>
    </tr>
  }
  
  </tbody>
</table>