@model List<LamondLu.EmailClient.Domain.ViewModels.EmailConnectorConfigViewModel>
@{
    ViewData["Title"] = "Index";
}

<h1>Email Connectors</h1>

<section style="padding-bottom: 20px">
    <button type="button" class="btn btn-dark" onclick="window.location='@Url.Action("Add","EmailConnector")'">+ Add</button>
</section>
<table class="table table-bordered">
    <thead>
        <tr>
            <th>Name</th>
            <th>Address</th>
            <th>Type</th>
            <th>Port</th>
            <th>Action</th>
        </tr>
    </thead>
    <tbody>
        @if (Model == null || Model.Count == 0)
        {
            <tr>
                <td colspan="6">No Record</td>
            </tr>
        }
        else
        {
            foreach (var item in Model)
            {
                <tr>
                    <td><span class="align-middle">@item.Name</span></td>
                    <td><span class="align-middle">@item.IP</span></td>
                    <td><span class="align-middle">@item.Type</span></td>
                    <td><span class="align-middle">@item.Status</span></td>
                    <td><span class="align-middle">@item.Port</span></td>
                    <td>
                        <button class="btn btn-info">Edit</button>

                        @if (item.IsRunning)
                        {
                            <button class="btn btn-danger">Stop</button>
                        }

                        @if (item.IsStopped)
                        {
                            <button class="btn btn-success">Start</button>
                        }
                    </td>
                </tr>
            }
        }


    </tbody>
</table>

